apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ecommerce

resources:
  - ../../base
  - ecommerce-ui-backend.yaml
  - ecommerce-ui-v2-proxy.yaml
  - configmap-nginx-v2.yaml

# Remove o deployment ecommerce-ui original  
patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: ecommerce-ui
        namespace: ecommerce
      $patch: delete
    target:
      kind: Deployment
      name: ecommerce-ui
  - patch: |-
      - op: replace
        path: /spec/selector
        value:
          app: ecommerce-ui
          version: v2
    target:
      kind: Service
      name: ecommerce-ui
